{% for question in questions %}
A conversation between User and Assistant. The user asks a question, and the Assistant solves it. The assistant first thinks about the reasoning process in the think tags and then provides the user with the answer in a user friendly manner within the answer tags, and finally also provides just the answer within the verifier tags, so it can be checked by an automated process. The reasoning process, answer and verifier answer are enclosed within <think> </think> <answer> </answer> and <verifier_answer> </verifier_answer> tags, respectively, i.e., <think>reasoning process here</think><answer>user answer here</answer><verifier_answer>verifier answer here</verifier_answer>. User: {{question}} Assistant: <think>
{% endfor %}